@charset "uff-8";


body {
    width: 628px; height: 4096px;
    margin: 0;
}
header {
    width: 628px; height: 471px;
    background-image: url(./figma/main_visual3.jpg);
}
header h1 {
    text-align: center
}
header .mainlogo {
    width: 63px; height: 34px;
    margin: 27px auto;
}
header h2 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 57px;
    line-height: 70px;
    font-weight: bold;
    margin-left: 49px;
}
header h2 em {
    color: #2C55FF;
}
header h4 {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 49px;
    font-weight: bold;
}
main {
    height: 3380px;
    text-align: center;
}
main .title1 {
    height: 1934px;
    background-color: #F5F5F5;
    padding-top: 80px;
    box-sizing: border-box;
}
main .title1 h3 {
    font-size: 23px;
    color: #3561e8;
    margin-bottom: 20px;
}
main .title1 p {
    font-size: 11px;
    line-height: 20px;
    color: #898989;
    margin-bottom: 76px;
}
main .title1 ul {
    display: block;
}
main .title1 ul li {
    display: inline;
}
main .title1 ul img {
    width: 263px; height: 264px;
    margin-bottom: 5px;
}
main .title1 ul .box1 {
    width: 532px; height: 257px;
}
main .title1 ul .box8 {
    width: 532px; height: 532px;
}

main .title2 {
    height: 663px;
    padding-top: 80px;
    box-sizing: border-box;
}
main .title2 h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 23px;
}
main .title2 p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11.5px;
    line-height: 20px;
    margin-top: 22px;
    margin-bottom: 77px;
}
main .title2 ul li img {
    width: 212px; height: 212px;
    border-radius: 50%;
}
main .title2 ul li h5 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 12px;
}
main .title2 ul li p {
    font-size: 12px;
}
main .title2 ul li .text1 {
    margin-bottom: 25px;
}
main .title3 {
    text-align: left;
}
main .title3 ul {
    display: flex;
}
main .title3 ul li {
    width: 314px; height: 502px;
}
main .title3 ul li a .image1{
    background-image: url(./figma/aside_banner6.jpg);
    width: 314px; height: 502px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
main .title3 ul li a .image2{
    background-image: url(./figma/aside_banner7.jpg);
    width: 314px; height: 502px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
main .title3 ul li a h4 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 27px;
    color: #fff;
    margin: 0 0 22px 30px;
}
main .title3 ul li a p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
    margin: 0 0 30px 30px;
}
main .title3 ul li a .about {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    color: #fff;
    margin: 0 0 34px 30px;
}
main .title4 {
    height: 282px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    padding-top: 46px;
}
main .title4 h3 {
    font-size: 23px;
    margin-bottom: 23px;
}
main .title4 p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 29px;
}
main .title4 a {
    display: inline-block;
    font-size: 11px;
    width: 571px; height: 39px;
    background-color: #333333;
    color: #fff;
    line-height: 40px;
}
footer {
    height: 245px;
    background-color: #000;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    padding-top: 53px;
}
footer img {
    width: 76px; height: 40px;
    margin-bottom: 19px;
}
footer p {
    font-size: 13px;
    margin-bottom: 11px;
}
footer .after {
    display: flex;
    margin-left: 192px;
}
footer .after .line::after {
    content: "";
    width: 1px; height: 11px;
    display: inline-block;
    background-color: #fff;
    left: 5px;
    margin-right: 5px;
}
footer .text3 {
    font-size: 11px;
}